html,body{
    padding: 0;
    margin: 0;
}

body{
    background: #8c998c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#cuestionario{
    background: #b39980;
    width: 30rem;
    padding: 4rem;
    text-align: center;
    border-radius: 30%;
}

#pregunta{
    font-size: 1.7rem;
    color: #2d1c28;
}

.respuestas{
    background-color: #5a2e2e ;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    outline: 0;
}

.respuestas:hover{
    cursor: pointer;
    background: #3e4147;
}

#progreso{
    font-size: 20px;
}